// Adapted from <"http://cssdeck.com/labs/css-checkbox-styles">
/* Requires the following markup: div.chk[data-off data-on]>input[type=checkbox]+label */

=checkbox($background, $shadow, $active)

	input[type = "checkbox"]
		visibility: hidden

	.chk
		width: 80px
		min-width: 80px
		height: 32px
		min-height: 32px
		display: inline-block
		vertical-align: middle
		background-color: $background
		margin: 20px 10px
		border-radius: 50px
		position: relative
		box-shadow: 2px 2px 2px transparentize($shadow, 0.8)

		&:after, &:before
			font-size: 10pt
			color: lighten($shadow, 40%)
			z-index: 0
			font-weight: bold
			position: absolute
			margin-top: 5pt

		&:after
			content: attr(data-off)
			right: 10px

		&:before
			content: attr(data-on)
			left: 10px

		label
			display: block
			width: 38px
			height: 24px
			border-radius: 50px
			-webkit-transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
			-moz-transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
			-ms-transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
			-o-transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
			transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
			cursor: pointer
			position: absolute
			top: 3px
			left: 3px
			z-index: 1
			background-color: lighten($shadow, 20%)
			box-shadow: 0 2px 0 lighten($shadow, 10%)

		input[type = "checkbox"]:checked + label
			left: 38px
			background-color: $active
			box-shadow: 0 2px 0 darken($active, 10%)
