@import 'flex'
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro)
@import url(http://fonts.googleapis.com/css?family=Raleway:600)
@import colors

$avatar-size: 32px

// Resets and pre-styling
*
	font-family: $text-font
	font-size: 12pt
h1, h2, h3, h4, h5, h6, thead
	font-family: $title-font
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block
html, body
	min-height: 100%
	height: 100%
	width: 100%
ul, ol
	list-style: none
	padding: 0
	margin: 0
blockquote, q
	quotes: none

	&:before, &:after
		content: ''
table
	border-collapse: collapse
	border-spacing: 0

// Styling
body
	background-color: $white

input[type = "checkbox"]
	visibility: hidden

.chk
	width: 80px
	min-width: 80px
	height: 32px
	min-height: 32px
	display: inline-block
	vertical-align: middle
	background-color: $white
	margin: 20px 10px
	border-radius: 50px
	position: relative
	box-shadow: 2px 2px 2px transparentize($black, 0.8)

	&:after, &:before
		font-size: 10pt
		color: lighten($black, 40%)
		z-index: 0
		font-weight: bold
		position: absolute
		margin-top: 5pt

	&:after
		content: attr(data-off)
		right: 10px

	&:before
		content: attr(data-on)
		left: 10px

	label
		display: block
		width: 38px
		height: 24px
		border-radius: 50px
		-webkit-transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
		-moz-transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
		-ms-transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
		-o-transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
		transition: left 0.4s ease, right 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease
		cursor: pointer
		position: absolute
		top: 3px
		left: 3px
		z-index: 1
		background-color: lighten($black, 20%)
		box-shadow: 0 2px 0 lighten($black, 10%)

	input[type = "checkbox"]:checked + label
		left: 38px
		background-color: $complement-blue
		box-shadow: 0 2px 0 darken($complement-blue, 10%)

input[type = 'file']
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	height: 42px
	font-size: 14pt
	border-radius: 0
	border: none
	padding-left: 7.5px
	outline: none !important
	box-shadow: none !important
	border-bottom: 2px solid lighten($black, 60%)
	background: transparent none
	-webkit-transition: border-bottom-color 1s ease
	-moz-transition: border-bottom-color 1s ease
	-ms-transition: border-bottom-color 1s ease
	-o-transition: border-bottom-color 1s ease
	transition: border-bottom-color 1s ease

	&::-webkit-file-upload-button
		visibility: hidden
		width: 0 !important
		padding: 0 !important

	&:focus
		border-bottom-color: $complement-blue

.input-search
	margin-bottom: 15px
	height: 42px

	input[type = "search"]
		height: 42px
		font-size: 14pt
		border-radius: 0
		border: none
		outline: none
		box-shadow: none
		border-bottom: 2px solid lighten($black, 60%)
		background: transparent none
		-webkit-transition: border-bottom-color 1s ease
		-moz-transition: border-bottom-color 1s ease
		-ms-transition: border-bottom-color 1s ease
		-o-transition: border-bottom-color 1s ease
		transition: border-bottom-color 1s ease

		&:focus
			border-bottom-color: $complement-blue

	button#all-search, button#filter-search
		height: 42px
		font-size: 14pt
		border-radius: 0
		color: lighten($black, 40%)
		border: none
		outline: none
		box-shadow: none
		border-bottom: 2px solid $complement-blue
		background: transparent none

		&:hover, &:focus
			color: $complement-blue
			-webkit-transition: color 0.5s ease
			-moz-transition: color 0.5s ease
			-ms-transition: color 0.5s ease
			-o-transition: color 0.5s ease
			transition: color 0.5s ease

	.dropdown-menu
		width: 100%
		border-radius: 2px

	&.input-search-large
		margin-bottom: 15px
		height: 64px

		input[type = "search"]
			height: 64px
			font-size: 18pt
			color: lighten($black, 20%)
			border-bottom: 2px solid lighten($black, 20%)

			&::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder
				color: $black

			&:focus
				border-bottom-color: darken($complement-blue, 10%)

		button#all-search, button#filter-search
			height: 64px
			font-size: 18pt
			color: lighten($black, 20%)
			border-bottom: 2px solid darken($complement-blue, 10%)

			&:hover, &:focus
				color: darken($complement-blue, 10%)
