@import navbar

#content
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	padding-top: 70px
	+flexbox
	+flex-flow(column nowrap)
	+justify-content(center)
	+align-items(center)

	.row-fluid
		width: 100%
