@import base

nav.navbar
	background-color: $green
	border-bottom-color: lighten($green, 20%)
	box-shadow: 0 1px 5px transparentize($black, 0.7)
	color: $white
	z-index: 1000

	#nav-collapse
		border-radius: 2px
		border: none
		background-color: lighten($green, 10%)
		box-shadow: 2px 2px 0 darken($green, 10%)
		outline: none

		&:hover
			background-color: darken($green, 10%)
			position: relative
			top: 2px
			box-shadow: none

		&:active
			position: relative
			top: 2px
			box-shadow: none

		span.icon-bar
			background-color: $white

	.navbar-brand
		color: $white !important
		font-family: $title-font
		font-size: 18pt

		&:hover
			color: $complement-blue !important

	ul.nav.navbar-nav
		li a
			color: $white

			&:hover
				color: $complement-blue

		#user-profile
			#avatar
				width: $avatar-size
				height: $avatar-size
				border-radius: 50%
				border: 2px solid $white
				border-style: outset

			button
				background: transparent none
				outline: none

				&:hover, &:active, &:focus
					color: $complement-blue
					box-shadow: none

			#profile-opts
				top: 54px

				li a
					color: $black !important

				#report-gen
					margin: 0 26px

		#lang-selector
			#language
				background: transparent none
				outline: none

				&:hover, &:active, &:focus
					color: $complement-blue
					box-shadow: none

			.dropdown-menu
				top: 54px
				right: 2px

				li a
					color: $black !important
