{% extends 'base/base_nav.html' %}
{% load static i18n widget_tweaks %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'base/css/frame.css' %}" />{% endblock css %}

				{% block inner-content %}
				<div id="frame-background" class="col-xs-12">
					<div id="frame-content" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">{% block frame-header %}{% endblock frame-header %}{% block frame-content %}{% endblock frame-content %}
					</div>
				</div>{% endblock inner-content %}
