{% extends 'base/base_nav.html' %}
{% load static i18n widget_tweaks %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'base/css/forms.css' %}" />{% endblock css %}

				{% block inner-content %}
				<div class="col-xs-12">
					<div id="form-background" class="panel col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">{% block form-header %}{% endblock form-header %}
						{% with method|default:'post' as form_method %}<form action="{% block form-action %}{{ url }}{% endblock form-action %}" method="{{ form_method }}"{% block form-meta %}{% endblock form-meta %}>{% if form_method == 'post' %}
							{% csrf_token %}{% endif %}{% endwith %}{% block form-content %}{% endblock form-content %}
						</form>
					</div>
				</div>{% endblock inner-content %}
