{% extends 'base/base.html' %}
{% load static i18n widget_tweaks %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'base/css/navbar.css' %}" />{% endblock css %}

		{% block content %}
		<nav class="navbar navbar-default navbar-static-top" id="nav" role="navigation">
			<div class="col-xs-12">
				<div class="navbar-header">
					<button id="nav-collapse" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-opts">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'index' %}">Bookworm</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-opts">
					<ul class="nav navbar-nav navbar-right">{% if request.user.is_authenticated %}
						<li class="dropdown" id="user-profile">
							<img src="{{ user.profile.avatar.url }}" alt="Profile image" id="avatar" />
							<button class="btn dropdown-toggle navbar-btn" type="button" data-toggle="dropdown">{{ user.get_full_name }} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" id="profile-opts" role="menu">
								<li><a href="{% url 'profile-view' request.user.uid_str %}">{% trans 'Profile' %}</a></li>
								<li><a href="{% url 'add-book' %}">{% trans 'Add book' %}</a></li>
								<li><a href="{% url 'user-config' %}">{% trans 'Account configuration' %}</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'postman_inbox' %}">{% trans 'Messages' %}{% if request.user.unread_messages.count > 0 %}<span class="badge pull-right">{{ request.user.unread_messages.count }}</span>{% endif %}</a></li>{% if request.user.is_staff %}
								<li class="divider"></li>
								<li>
									<div class="btn-group" id="report-gen">
										<a href="{% url 'user-report' %}" class="btn btn-default" id="user-report"><span class="glyphicon glyphicon-user"></span></a>
										<button class="btn btn-default" id="trends-report" type="button"><span class="glyphicon glyphicon-heart"></span></button>
									    <a href="{% url 'report_books' %}" class="btn btn-default" id="report_books"><span class="glyphicon glyphicon-book"></span></a>
                                    </div>
								</li>{% endif %}
								<li class="divider"></li>
								<li><a href="{% url 'account_logout' %}?next={{ request.get_full_path }}">{% trans 'Log out' %}</a></li>
							</ul>
						</li>{% else %}{% block signup-link %}
						<li><a href="{% url 'account_signup' %}">{% trans 'Sign up' %}</a></li>{% endblock signup-link %}{% block login-link %}
						<li><a href="{% url 'account_login' %}{% block next %}?next={{ request.get_full_path }}{% endblock next %}">{% trans 'Log in' %}</a></li>{% endblock login-link %}{% endif %}
						<li class="dropdown" id="lang-selector">{% get_language_info for LANGUAGE_CODE as lang %}
							<button class="btn dropdown-toggle navbar-btn" id="language" type="button" data-toggle="dropdown">{{ lang.name }} <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">{% get_language_info_list for LANGUAGES as languages %}{% for l in languages %}
								<li><a href="{#% url 'get-language' lang.0 %#}">{{ l.name }}</a></li>{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="content" class="container-fluid">
			<section class="row-fluid">{% block inner-content %}{% endblock inner-content %}
			</section>
		</div>{% endblock content %}
