<!DOCTYPE html>
<html>
	<head lang="{{ LANGUAGE_CODE }}">
		<meta charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />{% block meta %}{% endblock meta %}
		<title>{% block title %}{% endblock title %}</title>
		{% load static i18n %}
		<link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}" />{% block css %}
		<link rel="stylesheet" href="{% static 'base/css/base.css' %}" />{% endblock css %}

		<script src="{% static 'base/js/jquery.min.js' %}" defer></script>
		<script src="{% static 'base/js/bootstrap.min.js' %}" defer></script>{% block js %}{% endblock js %}
	</head>
	<body>{% block content %}{% endblock content %}
	</body>
</html>
