{% extends 'base/base_nav.html' %}
{% load static i18n %}
{% block title %}{{ author.first_name }} {{ author.family_name }}{% endblock title %}
{% block inner-content %}
    {% include 'search_templates/search_bar.html' %}
    <h4>{{ author.first_name }} {{ author.family_name }}</h4>
    <p>{% if author.biography %}{{ author.biography }}{% else %}{% trans 'No biography found yet.' %}{% endif %}</p>
    <p>Books:</p>
    {% for book in book_list %}
        <li><a href="{% url 'book_info' book.uid_str %}">{{ book.title }}</a></li>
    {% endfor %}
{% endblock inner-content %}