{% extends 'base/base_nav.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{{ book.title }} | Bookworm{% endblock title %}

{% block css %}
        <link rel="stylesheet" href="{% static 'books/css/copy_details.css' %}" />
{% endblock css %}
{% block js %}
        <script src="{% static 'js/comments.js' %}" defer></script>
        <script src="{% static 'bookworm/js/search.js' %}" defer></script>
{% if user.is_authenticated %}
        <script src="{% static 'js/flag_content.js' %}" defer></script>
        <script src="{% static 'js/remove_book.js' %}" defer></script>
        <script src="{% static 'trans/js/trade_offer.js' %}" defer></script>
{% endif %}

{% endblock js %}

{% block inner-content %}
{% include 'search_templates/search_bar.html' %}
        <article id="book-info">
	        <div id="book-meta" data-confirm="{% trans 'Do you really wish to delete this book copy?' %}" data-book-id="{{ book.uid_str }}" data-copy-id="{{ copy.uid_str }}"></div>
	        <div id="flag_confirm" data-confirm="{% trans 'Do you really wish to flag this book copy? You should only flag content if it is spam or if it goes against the website''s rules.' %}"></div>
	        <div id="book-wrapper" class="col-xs-12">
		        <h1 class="book-title">{{ book.title }}</h1>
		        <aside class="navbar">
			        <div class="container-fluid">
				        <div class="row-fluid">{% if copy.owner == user or user.is_staff %}
					        <a id="remove" class="btn navbar-btn navbar-right" href="#"><span class="glyphicon glyphicon-remove"></span>{% trans 'Remove book' %}</a>
					        <a id="edit" class="btn navbar-btn navbar-right" href="{% url 'edit_book' copy.book.uid_str copy.uid_str %}"><span class="glyphicon glyphicon-edit"></span>{% trans 'Edit book' %}</a>
					        {% else %}<a id="flag" class="btn navbar-btn navbar-right" href="#" onclick="flag_copy()"><span class="glyphicon glyphicon-remove"></span>{% trans 'Flag book' %}</a>{% endif %}
					        {% if copy.pdf %}<a id="read-online" class="btn navbar-btn navbar-right" href="{% url 'read' copy.book.uid_str copy.uid_str %}"><span class="glyphicon glyphicon-globe"></span>{% trans 'Read online' %}</a>{% endif %}
					        {% if copy.owner != user %}{% if user.is_authenticated and copy.for_giveaway %}<a id="make-bid" class="btn navbar-btn navbar-right" href="#"><span class="glyphicon glyphicon-bullhorn"></span>{% trans 'Make a bid' %}</a>{% endif %}
					        {% if user.is_authenticated and copy.for_trade %}<a id="offer-trade" class="btn navbar-btn navbar-right" href="#" onclick="offer_trade()"><span class="glyphicon glyphicon-bullhorn"></span>{% trans 'Offer trade' %}</a>{% endif %}
					        {% if user.is_authenticated and copy.for_sale %}<a id="purchase" class="btn navbar-btn navbar-right" href="#"><span class="glyphicon glyphicon-shopping-cart"></span>{% trans 'Purchase' %}</a>
					        <strong id="price" class="navbar-right">${{ copy.price }}</strong>{% endif %}{% endif %}
        			    </div>
			        </div>
		        </aside>
		        <div id="book-image" class="col-xs-12 col-sm-3">
			        <img src="{% if copy.photo %}{{ copy.photo.url }}{% endif %}" alt="{{ book.title }}" />
		        </div>
		        <div id="book-details" class="col-xs-12 col-sm-9">
			        <strong>{% trans 'Authors:' %}</strong>
			        <ul id="authors">{% for author in book.authors.all %}
				        <li><a href="{% url 'author_info' author.uid_str %}">{{ author.first_name }} {{ author.family_name }}</a></li>{% empty %}<li>{% trans 'Anonymous' %}</li>{% endfor %}
                    </ul>
			        <hr />
			        <table class="data">
				        <tr><td><strong>{% trans 'Owner:' %}</strong></td><td>{% trans 'Nobody' as default %}<a href="{% url 'profile-view' copy.owner.uid_str %}">{% firstof copy.owner.username default %}</a></td></tr>
				        <tr><td><strong>{% trans 'ISBN:' %}</strong></td><td>{% trans 'Unavailable ISBN' as default %}{% firstof copy.isbn default %}</td></tr>
				        <tr><td><strong>{% trans 'Language:' %}</strong></td><td>{% trans 'Unknown language' as default %}{% if copy.language %}{% get_language_info for copy.language as l %}{{ l.name_local }}{% endif %}</td></tr>
				        <tr><td><strong>{% trans 'Release year:' %}</strong></td><td>{% trans 'Unknown year' as default %}{% firstof copy.release_year default %}</td></tr>
				        <tr><td><strong>{% trans 'Description:' %}</strong></td><td>{% trans 'No description' as default %}{% firstof copy.description default %}</td></tr>
				        <tr><td><strong>{% trans 'Publisher:' %}</strong></td><td>{% trans 'Unknwon publisher' as default %}{% firstof copy.publisher default %}</td></tr>
				        <tr><td><strong>{% trans 'Pages:' %}</strong></td><td>{% trans 'Unknown pages' as default %}{% firstof copy.pages default %}</td></tr>
			        </table>
			        <p>{% trans 'View other copies of ' %} <a href="{% url 'book_info' book.uid_str %}">{{ book.title }}</a>.</p>
                </div>
		        {% if user.is_authenticated %}<form id="comment-form" action="{% url 'add_comment' copy.book.uid_str copy.uid_str %}" method="post" onsubmit="return false;">
			        {% csrf_token %}
			        <textarea id="comment_content" required="required" rows="5" placeholder="{% trans 'Write a comment' %}"></textarea>
			        <button class="btn" type="button" id="add-comment">{% trans 'Add comment' %}</button>
		        </form>{% endif %}
		        <input type="hidden" id="copy_id" name="copy_id" value="{{ copy.uid }}">
		        <div id="comments"></div>
	        </div>
        </article>
        {% if copy.for_trade %}<template id="trans-form">
		    <form method="post" action="{% url 'trade' copy.uid_str %}">
				{% csrf_token %}
                <button type="submit" id="submit-me"></button>
		    </form>
        </template>{% endif %}
{% endblock inner-content %}
