{% load static i18n %}
{% if response_msg %}
    <p>{{ response_msg }}</p>
{% endif %}
<header>{% trans 'Reviews:' %}</header>
{% if reviews %}
{% for rev in reviews %}
    <div class="book_review">
        <p>{% trans 'Written by ' %}<a href="{% url 'profile-view' rev.reviewer.uid_str %}">{{ rev.reviewer.username }}</a>{% trans ' on ' %}{{ rev.addition_date }}</p>
        <p>{{ rev.content }}</p>
        <hr />
    </div>
{% endfor %}
{% else %}
    <p>{% trans 'No reviews have been found for this book.' %}</p>
{% endif %}
