{% extends 'base/base_nav.html' %}
{% load static i18n %}
{% block title %}Books{% endblock title %}
{% block inner-content %}
    {% include 'search_templates/search_bar.html' %}
    <input type="hidden" id="search_query" name="search_query" value="{{ search }}">
    <input type="hidden" id="search_option" name="search_option" value="{{ search_option }}">
    <script>window.onload = function() {
        document.getElementById("id_search").setAttribute("value", document.getElementById("search_query").getAttribute("value"))
        search_option = document.getElementById("search_option").getAttribute("value");
        search();
    }</script>
{% endblock inner-content %}