{% extends 'base/base_form.html' %}
{% load i18n static widget_tweaks %}
{% block title %}{% trans 'Add new book' %} | Bookworm{% endblock title %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'books/css/add_book.css' %}" />{% endblock css %}
		{% block js %}
		<script src="{% static 'books/js/add_book.min.js' %}" defer></script>{% endblock js %}

						{% block form-header %}
						<h3>{% trans 'Add new book&hellip;' %}</h3>
						<hr />{% endblock form-header %}
						{% block form-action %}{% url 'add-book' %}{% endblock form-action %}
                        {% block form-meta %} enctype="multipart/form-data"{% endblock form-meta %}

							{% block form-content %}
							<div id="form-wizard" class="carousel slide" data-ride="carousel" data-interval="0" data-wrap="false">
								<ul class="carousel-inner" role="listbox">
									<li class="item active" data-step="1">
										<h4>{% blocktrans %}First thing's first. Please provide a title and authors (if any) for your new book.{% endblocktrans %}</h4>
										<br />{% with book_form.title.errors as errors %}{% if errors %}{% for error in errors %}
										<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
										<div id="form-title" class="input-group{% if errors %} with-errors{% endif %}">
											<span class="input-group-addon"><strong><span class="glyphicon glyphicon-book"></span></strong></span>
											{% if errors %}{{ book_form.title | add_class:'form-control has-feedback has-error' }}{% else %}{{ book_form.title | add_class:'form-control' }}{% endif %}{% endwith %}
										</div>
										<hr />
										<div id="authors-table">
											<h5>{% trans 'By author(s):' %}</h5>
											<table>
												<template id="author-alert">
													<div class="alert alert-warning" role="alert">
														<button type="button" class="close" data-dismiss="alert">
															<span aria-hidden="true">&times;</span>
															<span class="sr-only">Close</span>
														</button>
														{% blocktrans %}<strong>Warning:</strong> Cannot remove the last author. A book must have at least one author.{% endblocktrans %}
													</div>
												</template>
												<template id="author">
													<tr>
														<td class="author"><h3><span class="glyphicon glyphicon-user"></span></h3></td>
														<td class="author-name">{{ author_form.first_name | add_class:'form-control' }}</td>
														<td class="author-surname">{{ author_form.family_name | add_class:'form-control' }}</td>
														<td class="author-options"><a class="author-delete btn"><span class="glyphicon glyphicon-remove"></span></a></td>
													</tr>
												</template>
											</table>
										</div>
										<button id="add-new-author" type="button"><span class="glyphicon glyphicon-plus"></span>{% trans 'Add new author' %}</button>
									</li>
									<li class="item" data-step="2">
										<h4>{% blocktrans %}Please provide as many details about your book as possible.{% endblocktrans %}</h4>
										<br />
										{% with copy_form.description.errors as errors %}{% if errors %}{{ copy_form.description | add_class:'form-control has-feedback has-error' }}{% else %}{{ copy_form.description | add_class:'form-control' }}{% endif %}{% endwith %}
										<hr />{% with copy_form.isbn.errors as errors %}{% if errors %}{% for error in errors %}
										<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
										<div id="form-title" class="input-group{% if errors %} with-errors{% endif %}">
											<span class="input-group-addon"><strong><span class="glyphicon glyphicon-barcode"></span></strong></span>
											{% if errors %}{{ copy_form.isbn | add_class:'form-control has-feedback has-error' }}{% else %}{{ copy_form.isbn | add_class:'form-control' }}{% endif %}{% endwith %}
										</div>{% with copy_form.publisher.errors as errors %}{% if errors %}{% for error in errors %}
										<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
										<div id="form-title" class="input-group{% if errors %} with-errors{% endif %}">
											<span class="input-group-addon"><strong><span class="glyphicon glyphicon-briefcase"></span></strong></span>
											{% if errors %}{{ copy_form.publisher | add_class:'form-control has-feedback has-error' }}{% else %}{{ copy_form.publisher | add_class:'form-control' }}{% endif %}{% endwith %}
										</div>{% with copy_form.language.errors as errors %}{% if errors %}{% for error in errors %}
										<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
										<div id="form-title" class="input-group{% if errors %} with-errors{% endif %}">
											<span class="input-group-addon"><strong><span class="glyphicon glyphicon-globe"></span></strong></span>
											{% if errors %}{{ copy_form.language | add_class:'form-control has-feedback has-error' }}{% else %}{{ copy_form.language | add_class:'form-control' }}{% endif %}{% endwith %}
										</div>{% with copy_form.photo.errors as errors %}{% if errors %}{% for error in errors %}
										<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
										<div id="form-photo" class="input-group{% if errors %} with-errors{% endif %}">
											<span class="input-group-addon"><strong><span class="glyphicon glyphicon-upload"></span></strong></span>
											{% if errors %}{{ copy_form.photo | add_class:'form-control has-feedback has-error' }}{% else %}{{ copy_form.photo | add_class:'form-control' }}{% endif %}{% endwith %}
										</div>
										<div id="time-pages-wrapper" class="col-xs-12">{% with copy_form.pages.errors as errors %}{% if errors %}{% for error in errors %}
											<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}{% with copy_form.release_year.errors as errors %}{% if errors %}{% for error in errors %}
											<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
											<div id="form-pages" class="input-group col-xs-6 pull-left{% if errors %} with-errors{% endif %}">
												<span class="input-group-addon"><strong><span class="glyphicon glyphicon-sort-by-order"></span></strong></span>
												{% if errors %}{{ copy_form.pages | add_class:'form-control has-feedback has-error' }}{% else %}{{ copy_form.pages | add_class:'form-control' }}{% endif %}{% endwith %}
											</div>
											<div id="form-release-year" class="input-group col-xs-6 pull-right{% if errors %} with-errors{% endif %}">
												<span class="input-group-addon"><strong><span class="glyphicon glyphicon-calendar"></span></strong></span>
												{% if errors %}{{ copy_form.release_year | add_class:'form-control has-feedback has-error' }}{% else %}{{ copy_form.release_year | add_class:'form-control' }}{% endif %}{% endwith %}
											</div>
										</div>
									</li>
									<li class="item" data-step="3">
										<h4>{% blocktrans %}Lastly, is your book a physical copy or a digital copy?{% endblocktrans %}</h4>
										<br />
										<div>
                                            <label for="is_physical_book">
	                                            {% trans 'Physical: ' %}
	                                            <div class="chk" id="physical">
		                                            <input name="physical" id="is_physical_book" type="checkbox" />
		                                            <label for="is_physical_book"></label>
	                                            </div>
                                            </label>
										    <label for="is_digital_book">
											    {% trans 'Digital: ' %}
											    <div class="chk" id="digital">
												    <input name="digital" id="is_digital_book" type="checkbox" />
												    <label for="is_digital_book"></label>
											    </div>
										    </label>
                                        </div>
										<hr />
                                        <div id="digital-form">{% with digital_form.pdf.errors as errors %}{% if errors %}{% for error in errors %}
										<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
										<div id="form-photo" class="input-group{% if errors %} with-errors{% endif %}">
											<span class="input-group-addon"><strong><span class="glyphicon glyphicon-upload"></span></strong></span>
											{% if errors %}{{ digital_form.pdf | add_class:'form-control has-feedback has-error' }}{% else %}{{ digital_form.pdf | add_class:'form-control' }}{% endif %}{% endwith %}
										</div>
                                        </div>
                                        <div id="physical-form">
                                            <label for="is_for_trade" id="trade">
	                                            {% trans 'For trade: ' %}
	                                            <div class="chk">
                                                    <input name="trade" id="is_for_trade" type="checkbox" />
		                                            <label for="is_for_trade"></label>
	                                            </div>
                                            </label>
	                                        <br />
	                                        <label for="is_for_sale" id="purchase">
		                                        {% trans 'For sale: ' %}
		                                        <div class="chk">
			                                        <input name="purchase" id="is_for_sale" type="checkbox" />
			                                        <label for="is_for_sale"></label>
		                                        </div>
	                                        </label>
	                                        <div id="sale-properties">{% with purchase.currency.errors as errors1 %}{% with purchase.price.errors as errors2 %}{% if errors1 %}{% for error in errors1 %}
												<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% elif errors2 %}{% for error in errors2 %}
												<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
												<div id="form-price" class="input-group{% if errors1 or errors2 %} with-errors{% endif %}">
													<span class="input-group-addon"><strong><span class="glyphicon glyphicon-usd"></span></strong></span>
													{% if errors2 %}{{ purchase.price | add_class:'form-control has-feedback has-error' }}{% else %}{{ purchase.price | add_class:'form-control' }}{% endif %}
	                                                {% if errors1 %}{{ purchase.currency | add_class:'form-control has-feedback has-error' }}{% else %}{{ purchase.currency | add_class:'form-control' }}{% endif %}{% endwith %}{% endwith %}
												</div>
	                                        </div>
                                            <label for="is_for_give_away" id="giveaway">
	                                            {% trans 'For giveaway: ' %}
	                                            <div class="chk">
		                                            <input name="giveaway" id="is_for_give_away" type="checkbox" />
		                                            <label for="is_for_give_away"></label>
	                                            </div>
                                            </label>
                                        </div>
                                        <div id="action"><button class="btn" id="form-add-book" role="button">{% trans 'Add book' %}</button></div>
									</li>
								</ul>
								<a class="btn left carousel-control" id="wizard-prev" href="#form-wizard" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left"></span>
								</a>
								<a class="btn right carousel-control" id="wizard-next" href="#form-wizard" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
							</div>{% endblock form-content %}
