{% extends 'base/base_form.html' %}
{% load static i18n widget_tweaks account %}
{% block title %}{% trans 'Edit book copy' %} | Bookworm{% endblock title %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'users/css/config.css' %}" />{% endblock css %}
		{% block js %}{% endblock js %}

						{% block form-header %}
						<h2 id="header">{% blocktrans with copy.book.title as title %}Edit book copy: "{{ title }}"{% endblocktrans %}</h2>
						<hr />{% endblock form-header %}
						{% block form-action %}{% endblock form-action %}
						{% block form-meta %} enctype="multipart/form-data"{% endblock form-meta %}

							{% block form-content %}{% if form.non_field_errors %}
							<div class="col-xs-10 col-xs-offset-1">{% for error in form.non_field_errors %}
								<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
								<br />
							</div>{% endif %}
							<div id="account-config">
								<template id="save-succeeded">
									<div class="alert alert-success">
										{% trans "Saved your copy successfully. Redirecting to details page..." %}
									</div>
								</template>
								<div class="col-xs-12">{% with form.isbn.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-isbn" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-barcode"></span></strong></span>
										{% if errors %}{{ form.isbn | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.isbn | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}{% with form.language.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-language" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-globe"></span></strong></span>
										{% if errors %}{{ form.language | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.language | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}{% with form.description.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-description" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-pencil"></span></strong></span>
										{% if errors %}{{ form.description | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.description | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}{% with form.publisher.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-publisher" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-briefcase"></span></strong></span>
										{% if errors %}{{ form.publisher | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.publisher | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}{% with form.photo.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-publisher" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-picture"></span></strong></span>
										{% if errors %}{{ form.photo | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.photo | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}
									<div class="col-xs-12">
										<div class="col-xs-6">{% with form.release_year.errors as errors %}{% if errors %}{% for error in errors %}
											<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
											<div id="form-release_year" class="input-group{% if errors %} with-errors{% endif %}">
												<span class="input-group-addon"><strong><span class="glyphicon glyphicon-calendar"></span></strong></span>
												{% if errors %}{{ form.release_year | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.release_year | add_class:'form-control' }}{% endif %}{% endwith %}
											</div>
										</div>
										<div class="col-xs-6">{% with form.pages.errors as errors %}{% if errors %}{% for error in errors %}
											<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
											<div id="form-pages" class="input-group{% if errors %} with-errors{% endif %}">
												<span class="input-group-addon"><strong><span class="glyphicon glyphicon-sort-by-order"></span></strong></span>
												{% if errors %}{{ form.pages | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.pages | add_class:'form-control' }}{% endif %}{% endwith %}
											</div>
										</div>
									</div>{% comment %}

									{% endcomment %}{% if form.is_digital %}
									<br />{% with form.pdf.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-pages" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-upload"></span></strong></span>
										{% if errors %}{{ form.pdf | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.pdf | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}{% else %}{% endif %}{% comment %}

									{% endcomment %}{% if ph_form %}
                                    {% with form.for_trade.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-for_trade" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-star-empty"></span></strong></span>
										{% if errors %}{{ ph_form.for_trade | add_class:'form-control has-feedback has-error' }}{% else %}<div><label for="id_for_trade">{% trans 'For trade:' %}<div class="chk" data-off="NO" data-on="YES">{{ ph_form.for_trade }}<label for="id_for_trade"></label></div></label></div>{% endif %}{% endwith %}
									</div>
                                    {% with form.for_sale.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-for_sale" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-star-empty"></span></strong></span>
										{% if errors %}{{ ph_form.for_sale | add_class:'form-control has-feedback has-error' }}{% else %}<div><label for="id_for_sale">{% trans 'For sale:' %}<div class="chk" data-off="NO" data-on="YES">{{ ph_form.for_sale }}<label for="id_for_sale"></label></div></label></div>{% endif %}{% endwith %}
									</div>
                                    {% endif %}
								</div>
								<div id="action">
									<button id="form-update" class="btn" type="submit" role="button">{% trans 'Update' %}</button>
								</div>
							</div>{% endblock form-content %}
