{% load static i18n %}
<header>{% trans 'Comments:' %}</header>
{% if comments %}
{% for c in comments %}
    <div class="book_comment">
        <p>{% trans 'Written by ' %}<a href="{% url 'profile-view' c.commenter.uid_str %}">{{ c.commenter.username }}</a>{% trans ' on ' %}{{ c.addition_date }}</p>
        <p>{{ c.content }}</p>
        <hr />
    </div>
{% endfor %}
{% else %}
    <p>{% trans 'No comments have been written for this copy.' %}</p>
{% endif %}
