{% extends 'base/base_nav.html' %}
{% load static i18n %}
{% block title %}{{ book.title }} | Bookworm{% endblock title %}

{% block css %}
        <link rel="stylesheet" href="{% static 'books/css/book_info.css' %}" />
{% endblock css %}

{% block js %}
    <script src="{% static 'js/get_book_info.js' %}" defer></script>
{% if request.user.is_authenticated %}
    <script src="{% static 'js/add_genre.js' %}" defer></script>
    <script src="{% static 'js/add_review.js' %}" defer></script>
    <script src="{% static 'js/flag_content.js' %}" defer></script>
{% endif %}
{% endblock js %}

{% block inner-content %}
    {% include 'search_templates/search_bar.html' %}
    <article id="book-info">
        <div id="flag_confirm" data-confirm="{% trans "Are you sure you really wish to flag this book? You should only flag content if it is spam or if it goes against the website's rules." %}"> </div>
        <div id="book-wrapper" class="col-xs-12">
            <h1 class="book-title">{{ book.title }}</h1>
            <aside class="navbar">
			    <div class="container-fluid">
				    <div class="row-fluid">
					    {% if user.is_authenticated %}<a id="flag" class="btn navbar-btn navbar-right" href="#" onclick="flag_book()"><span class="glyphicon glyphicon-remove"></span>{% trans 'Flag book' %}</a>
					    {% if not rec %}<a id="recommend" class="btn navbar-btn navbar-right"  href="#" onclick="add_recommendation();"><span class="glyphicon glyphicon-thumbs-up"></span>{% trans 'Recommend' %}</a>{% endif %}{% endif %}
        			</div>
			    </div>
		    </aside>
            <div id="book-image" class="col-xs-12 col-sm-3"></div>
            <div id="book-details" class="col-xs-12 col-sm-9">
                <strong>{% trans 'Authors:' %}</strong>
			    <ul id="authors">{% for author in book.authors.all %}
				    <li><a href="{% url 'author_info' author.uid_str %}">{{ author.first_name }} {{ author.family_name }}</a></li>{% empty %}<li>{% trans 'Anonymous' %}</li>{% endfor %}
                </ul>
			    <hr />

    <p>{% trans 'Average rating: ' %}<span id="avg_rating">{{ rating }}</span></p>
    {% if request.user.is_authenticated %}
        <p>{% trans 'Your rating: ' %}<span id="rating_1" value="1" onclick="rate_book(1)">&#9734;</span><span id="rating_2" value="2" onclick="rate_book(2)">&#9734;</span><span id="rating_3" value="3" onclick="rate_book(3)">&#9734;</span><span id="rating_4" value="4" onclick="rate_book(4)">&#9734;</span><span id="rating_5" value="5" onclick="rate_book(5)">&#9734;</span></p>
    {% endif %}
    <p>{% trans 'Recommended by ' %}<span id="number_recommendations">{{ number_recommendations }}</span>{% trans ' users.' %}</p>

    <p>{% if book.description %}{{ book.description }}{% else %}{% trans 'No description available.' %}{% endif %}</p>

    <span id="book_genres"></span>{% if request.user.is_authenticated %}
    <form action="{% url 'add_genre' book.uid_str %}" method="post" onsubmit="return false">
        {% csrf_token %}
        <input type="text" id="genre" />
        <input type="hidden" id="book_id" value="{{ book.uid }}" />
        <input type="button" id="add_genre" value="{% trans 'Add genre' %}" />
    </form>{% else %}<input type="hidden" id="book_id" value="{{ book.uid }}" />{% endif %}

    <h4>{% trans 'Book copies:' %}</h4>
    {% if book_copies %}
    <table>
        <thead><tr><th>{% trans 'Title' %}</th><th>{% trans 'ISBN' %}</th><th>{% trans 'Owner' %}</th><th>{% trans 'Publisher' %}</th><th>{% trans 'Book type' %}</th><th>{% trans 'Language' %}</th><th>{% trans 'Price' %}</th><th>{% trans 'View details' %}</th></tr></thead>
        {% for copy in book_copies.all %}
            <tr><td>{{ copy.book.title }}</td><td>{{ copy.isbn }}</td><td><a href="{% url 'profile-view' copy.owner.uid_str %}">{{ copy.owner.username }}</a></td><td>{{ copy.publisher }}</td><td>{% if copy.pdf %}{% trans 'Digital' %}{% else %}{% trans 'Physical' %}{% endif %}</td><td>{{ copy.language }}</td><td>{{ copy.price }}</td><td><a href="{% url 'details' copy.book.uid_str copy.uid_str %}">{% trans 'book details' %}</a></td></tr>
        {% endfor %}
    </table>
    {% else %}
    <p>{% trans 'No copies were found.' %}</p>
    {% endif %}

            </div>
            {% if request.user.is_authenticated and not rev %}<form action="{% url 'add_review' book.uid_str %}" method="post" id="add_review_form" onsubmit="return false">
                {% csrf_token %}
                <textarea id="review_content" required="required" rows="5" placeholder="{% trans 'Write a review' %}"></textarea>
                <button class="btn" type="button" id="add_review">{% trans 'Add review' %}</button>
            </form>{% endif %}
            {% if rev %}<p>{% trans 'You have already written a review for this book. If it is not visible, it still needs an administrator to approve it.' %}</p>{% endif %}
            <div id="reviews"></div>
        </div>
    </article>
{% endblock inner-content %}