{% extends 'base/base_nav.html' %}
{% load static i18n %}
{% block title %}{{ genre.name }}{% endblock title %}
{% block inner-content %}
    {% include 'search_templates/search_bar.html' %}
    <header>{{ genre.name }}</header>
    <p>Books:</p>
    <table>
        <thead><tr><th>{% trans 'Title' %}</th><th>{% trans 'Authors' %}</th><th>{% trans 'Tags' %}</th></tr></thead>
    {% for elem in book_list %}
        <tr><td><a href="{% url 'book_info' elem.book.uid_str %}">{{ elem.book.title }}</a></td><td><ul>{% for author in elem.book.authors.all %}<li><a href="{% url 'author_info' author.uid_str %}">{{ author.first_name }} {{ author.family_name }}</a></li>{% endfor %}</ul>{% if elem.book.authors.all|length == 0 %}{% trans 'unknown author' %}{% endif %}</td><td>{{ elem.num }}</td></tr>
    {% endfor %}
    </table>
{% endblock inner-content %}