{% extends 'base/base_nav.html' %}
{% load i18n static widget_tweaks %}
{% block title %}{% trans 'Welcome' %} | Bookworm{% endblock title %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'bookworm/css/index.css' %}" />{% endblock css %}

				{% block inner-content %}
                <script src="{% static 'bookworm/js/index_search.js' %}" defer></script>
				<aside id="search-bar" class="jumbotron">
					<div id="overlay" class="col-xs-12"></div>
					<div id="search-form" class="col-xs-10 col-sm-8">
						<form method="post" action="{% url 'list-books' %}">
                           {% csrf_token %}
							<div class="input-group">
								<div id="search" class="input-search input-search-large input-group-btn" role="search">
									<input id="id_search" class="form-control" name="search" placeholder="{% trans 'It all starts here&hellip;' %}" type="search" />
									<button id="all-search" class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
									<button id="filter-search" class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li id="search_all"><a href="#">{% trans 'All' %} <span class="glyphicon glyphicon-asterisk pull-right"></span></a></li>
										<li id="search_title"><a href="#">{% trans 'Title' %} <span class="glyphicon glyphicon-book pull-right"></span></a></li>
										<li id="search_authors"><a href="#">{% trans 'Authors' %} <span class="glyphicon glyphicon-user pull-right"></span></a></li>
									    <li id="search_genres"><a href="#">{% trans 'Genres' %} <span class="glyphicon glyphicon-tags pull-right"></span></a></li>
                                        <li id="search_isbn"><a href="#">{% trans 'ISBN' %} <span class="glyphicon glyphicon-barcode pull-right"></span></a></li>
									</ul>
                                    <input id="search_option" name="search_option" type="hidden" value="all">
								</div>
							</div>
						</form>
					</div>
				</aside>
				<section id="recommended">{% if has_books %}
					<h4>{% trans 'Recommended for you' %}</h4>
					<div id="recommended-content">
						<div class="carousel slide" id="recommends" data-ride="carousel">
							<ul class="carousel-inner">{% for title_block in titles %}
								<li class="item{% if title_block.active %} active{% endif %}">
									<ul class="book-list">{% for book in title_block.values %}
										<li>
											<div class="book">
												<a href="{% url 'details' book.book.uid_str book.uid_str %}">
													<img class="book-img" id="book-img-{{ book.uid_str }}" src="{% if book.photo %}{{ book.photo.url }}{% endif %}" alt="{% blocktrans with book.uid_str as uid %}Book copy: {{ uid }}{% endblocktrans %}"/>
												</a>
												<div class="book-info">
													<h5>{{ book.book.title }}</h5>
													{% url 'profile-view' book.owner.uid_str as p %}{% blocktrans with book.owner.get_short_name as u %}From user: <a href="{{ p }}">{{ u }}</a>{% endblocktrans %}
												</div>
											</div>
										</li>{% endfor %}
									</ul>
								</li>{% endfor %}
							</ul>
						</div>
					</div>{% else %}
					<div class="col-xs-12" id="no-books">
						<h3>{% blocktrans %}Sorry, there are no recommendable books as for now.{% endblocktrans %}</h3>{% if user.is_authenticated %}
						{% trans 'You can help by ask your friends to add and recommend books they like.' %}{% endif %}
					</div>{% endif %}
				</section>{% endblock %}
