@import base_nav

#content
	position: absolute
	top: 50px
	bottom: 0px
	left: 0
	right: 0

	#search-bar
		+flexbox
		+flex-flow(column nowrap)
		+justify-content(center)
		+align-items(center)
		margin: -20px -15px
		height: 320px
		padding: 45px 0
		background-image: url('../images/books.jpg')
		background-size: cover
		box-shadow: 0 3px 4px transparentize($black, 0.4)

		#overlay
			position: absolute
			top: 0
			left: 0
			right: 0
			height: 320px
			background: transparentize($white, 0.5)

		#search-form
			.input-group
				width: 100%
				padding-right: 32px
				color: lighten($black, 10%) !important

	#recommended
		padding: 30px 30px 0
		margin: 15px -15px 0
		width: calc(100% + 30px)
		min-height: 180px

		#recommended-content
			width: 100%
			+flexbox
			+flex-flow(row nowrap)
			+justify-content(center)
			+align-items(center)
			text-align: center

			#no-books
				color: lighten($black, 20%)
				font-size: 14pt

	@import book
