ul.book-list
	width: 100%

	li
		display: inline-block
		width: 160px
		max-width: 160px

		.book
			text-align: center
			width: 160px
			max-width: 160px

			.book-img
				width: 120px
				height: 148px
				box-shadow: 0 2px 2px transparentize($black, 0.8)

			.book-info
				width: 100%
				max-width: 100%
