@import base_form

.input-group
	margin: 15px 0
	height: 42px

	&.with-errors
		span.input-group-addon
			border-bottom-color: $warn-yellow
			color: $warn-yellow

		input[type = "text"], input[type = "search"], input[type = "password"],
		input[type = "phone"], input[type = "url"], input[type = "time"], input[type = "date"],
		input[type = "datetime"], input[type = "datetime-local"], input[type = "email"],
		input[type = "number"], select
			border-bottom-color: $warn-yellow

	span.input-group-addon
		font-size: 14pt
		border: none
		border-radius: 0
		border-bottom: 2px solid $complement-blue
		background: transparent none

	input[type = "text"], input[type = "search"], input[type = "password"],
	input[type = "phone"], input[type = "url"], input[type = "time"], input[type = "date"],
	input[type = "datetime"], input[type = "datetime-local"], input[type = "email"],
	input[type = "number"], select
		height: 42px
		font-size: 14pt
		border-radius: 0
		border: none
		outline: none
		box-shadow: none !important
		border-bottom: 2px solid lighten($black, 60%)
		background: transparent none
		-webkit-transition: border-bottom-color 1s ease
		-moz-transition: border-bottom-color 1s ease
		-ms-transition: border-bottom-color 1s ease
		-o-transition: border-bottom-color 1s ease
		transition: border-bottom-color 1s ease

		&:focus
			border-bottom-color: $complement-blue

textarea.form-control
	margin: 15px auto
	background: transparent none
	border-radius: 0
	resize: none
	border: none
	border-top: 2px solid lighten($black, 60%)
	border-bottom: 2px solid lighten($black, 60%)
	-webkit-transition: border-color 1s ease
	-moz-transition: border-color 1s ease
	-ms-transition: border-color 1s ease
	-o-transition: border-color 1s ease
	transition: border-color 1s ease
	outline: none
	box-shadow: none !important
	padding: 5px
	font-size: 12pt

	&:focus
		border-top-color: $complement-blue
		border-bottom-color: $complement-blue

#authors-table
	width: 100%
	overflow-y: auto
	max-height: 240px
	margin-bottom: 15px

	&.with-errors

		input
			border-bottom-color: $warn-yellow

		span
			color: $warn-yellow

	span.glyphicon
		-webkit-transition: color 1s ease
		-moz-transition: color 1s ease
		-ms-transition: color 1s ease
		-o-transition: color 1s ease
		transition: color 1s ease

	table
		border-collapse: separate
		border-spacing: 5px

	input
		height: 42px
		font-size: 14pt
		border-radius: 0
		border: none
		outline: none
		box-shadow: none
		border-bottom: 2px solid lighten($black, 60%)
		background: transparent none
		-webkit-transition: border-bottom-color 1s ease
		-moz-transition: border-bottom-color 1s ease
		-ms-transition: border-bottom-color 1s ease
		-o-transition: border-bottom-color 1s ease
		transition: border-bottom-color 1s ease

		&:focus
			border-bottom-color: $complement-blue

	#author-row
		visibility: collapse

	.author-name
		width: 33%

	.author-surname
		width: calc(66% - 24px)

	.author-options
		a.author-delete
			font-size: 14pt
			border: none
			border-radius: 0
			color: lighten($black, 60%)
			background: transparent none
			-webkit-transition: color 1s ease
			-moz-transition: color 1s ease
			-ms-transition: color 1s ease
			-o-transition: color 1s ease
			transition: color 1s ease
			width: 24px

			&:hover
				color: $complement-blue

button#add-new-author
	height: 42px
	font-size: 14pt
	width: 100%
	text-align: left
	border-radius: 0
	border: none
	color: lighten($black, 30%)
	outline: none
	box-shadow: none
	border-bottom: 2px solid lighten($black, 30%)
	background: transparent none

	span
		margin-right: 15px

	&:hover
		border-bottom-color: $complement-blue
		color: $complement-blue
		-webkit-transition: border-bottom-color 1s ease, color 1s ease
		-moz-transition: border-bottom-color 1s ease, color 1s ease
		-ms-transition: border-bottom-color 1s ease, color 1s ease
		-o-transition: border-bottom-color 1s ease, color 1s ease
		transition: border-bottom-color 1s ease, color 1s ease

#form-price
	+flexbox
	width: 100%

	#id_price
		+flex-grow(1)
		padding-left: 32px

	#id_currency
		width: 128px


#wizard-prev, #wizard-next
	opacity: 1.0 !important
	position: fixed
	display: block
	color: $white !important
	top: calc(50% - 42px)
	margin: 0px 32px
	width: 84px
	height: 84px
	font-size: 14pt
	border-radius: 50%
	border: none
	color: lighten($black, 30%)
	text-shadow: none
	outline: none
	background: $green
	box-shadow: 0 1px 2px transparentize($black, 0.4)
	-webkit-transition: box-shadow 1s ease, background 1s ease
	-moz-transition: box-shadow 1s ease, background 1s ease
	-ms-transition: box-shadow 1s ease, background 1s ease
	-o-transition: box-shadow 1s ease, background 1s ease
	transition: box-shadow 1s ease, background 1s ease

	&:hover
		box-shadow: 0 5px 10px transparentize($black, 0.4)

li.item[data-step = '2']
	overflow-y: auto
	max-height: 460px

#wizard-prev
	span
		margin-left: -17px

#wizard-next
	span
		margin-right: -15px

#time-pages-wrapper
	padding: 0

	#form-pages
		padding-right: 7.5px
	#form-release-year
		padding-left: 7.5px

#action
	margin-top: 10px
	margin-bottom: 15px
	text-align: center

	button#form-add-book
		border-radius: 2px
		width: 200px
		height: 42px
		color: $white
		font-weight: bold
		font-size: 14pt
		background-color: $green
		outline: none
		box-shadow: 0px 4px 0px darken($green, 10%)

		&:hover
			background-color: darken($green, 10%)
			position: relative
			box-shadow: none
			top: 4px

		&:active
			background-color: lighten($green, 10%)
