@import base_nav

#search-bar
	position: relative
	left: 0
	right: 0
	margin: -40px -15px 15px
	width: calc(100% + 30px)
	padding-top: 40px
	padding-bottom: 30px
	z-index: 2
	box-shadow: 0 2px 10px transparentize($black, 0.75)

#book-wrapper
	margin: 0
	margin-left: -15px
	width: calc(100% + 29px)

#book-info
	position: relative
	top: 30px

	#book-meta
		visibility: collapse

	h1.book-title
		text-align: center
		margin: -45px -15px 0
		padding-top: 45px
		height: 109px
		width: calc(100% + 31px)
		background: $lite-green
		box-shadow: 0px 2px 1px transparentize($black, 0.8)
		margin-bottom: 64px

	aside.navbar
		background-color: darken($lite-green, 15%)
		color: $white
		box-shadow: 0px 2px 1px transparentize($black, 0.6)
		border-radius: 0px
		left: 0
		right: 0
		top: 64px
		z-index: 2
		position: absolute

		a
			border-radius: 2px
			height: 32px
			color: $white
			font-weight: bold
			font-size: 10pt
			background-color: transparent
			outline: none
			vertical-align: top

			span
				font-size: 12pt
				color: $white
				margin-right: 5px

		strong#price
			height: 48px
			+inline-flex
			+flex-flow(row nowrap)
			+align-items(center)
			+justify-content(center)
			margin-right: 15px

	#book-image
		+inline-flex
		+align-items(center)
		+justify-content(center)
		min-height: 240px

		img
			width: 140px
			height: 180px

	ul#authors
		margin: 5px
		list-style: initial
		padding-left: 30px

	table.data
		border-spacing: 5px
		border-collapse: separate
		margin-bottom: 30px

		td
			padding: 0 15px

	form#comment-form
		text-align: center

		#comment_content
			width: 90%
			margin: 15px auto
			background: transparent none
			border-radius: 0
			resize: none
			border: none
			border-top: 2px solid lighten($black, 60%)
			border-bottom: 2px solid lighten($black, 60%)
			-webkit-transition: border-color 1s ease
			-moz-transition: border-color 1s ease
			-ms-transition: border-color 1s ease
			-o-transition: border-color 1s ease
			transition: border-color 1s ease
			outline: none
			box-shadow: none
			padding: 5px

			&:focus
				border-top-color: $complement-blue
				border-bottom-color: $complement-blue

		button#add-comment
			border-radius: 2px
			margin-bottom: 30px
			width: 200px
			height: 42px
			color: $white
			font-weight: bold
			font-size: 14pt
			background-color: $green
			outline: none
			box-shadow: 0px 4px 0px darken($green, 10%)

			&:hover
				background-color: darken($green, 10%)
				position: relative
				box-shadow: none
				top: 4px

			&:active
				background-color: lighten($green, 10%)

#book-error
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	text-align: center
	+flexbox
	+flex-flow(column nowrap)
	+justify-content(center)
	+align-items(center)

	span.glyphicon
		font-size: 64pt

	h2
		margin-bottom: 30px

	a#go-back
		display: block
		margin: 30px auto 0
		border-radius: 2px
		width: 200px
		height: 42px
		color: $white
		font-weight: bold
		font-size: 14pt
		background-color: $green
		outline: none
		box-shadow: 0px 4px 0px darken($green, 10%)

		&:hover
			background-color: darken($green, 10%)
			position: relative
			box-shadow: none
			top: 4px

		&:active
			background-color: lighten($green, 10%)