{% extends 'base/base_frame.html' %}
{% load i18n widget_tweaks static socialaccount account %}
{% block title %}{% trans 'Complete registration' %} | Bookworm{% endblock title %}
{% block signup-link %}{% endblock signup-link %}
{% block next %}{% endblock next %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'account/css/email_confirm.css' %}" />{% endblock css %}

						{% block frame-header %}
						<h2>{% if confirmation %}{% trans 'Confirm your email address' %}{% else %}{% trans 'An error has occurred' %}{% endif %}</h2>
						<hr />{% endblock frame-header %}
						{% block frame-content %}{% if confirmation %}{% user_display confirmation.email_address.user as user %}
						{% blocktrans %}Please confirm that the following email address belongs to user <strong>{{ user }}</strong>.{% endblocktrans %}<br />
						{% with confirmation.email_address.email as email %}<ul id="email-address">
							<li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{ email }}">{{ email }}</a></li>
						</ul>{% endwith %}
						<hr />
						{% trans 'If you recognize the previous details, please click on the button below to confirm your email address and activate your account.' %}
						<form action="{% url 'account_confirm_email' confirmation.key %}" method="post">
							{% csrf_token %}
							<div id="action">
								<button id="form-confirm" class="btn" type="submit" role="button">{% trans 'Confirm email address' %}</button>
							</div>
						</form>
						{% else %}{% url 'account_email' as new_confirmation %}{% blocktrans %}This email confirmation link appears to be invalid or has already expired. Please try <a href="{{ new_confirmation }}">issuing a new one</a>.{% endblocktrans %}{% endif %}{% endblock frame-content %}

