{% extends 'base/base_form.html' %}
{% load i18n widget_tweaks static socialaccount %}
{% block title %}{% trans 'Log in' %} | Bookworm{% endblock title %}
{% block login-link %}{% endblock login-link %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'account/css/login.css' %}" />{% endblock css %}

						{% block form-header %}
						<h2 id="header">{% trans 'Welcome back' %}</h2>
						<hr />{% endblock form-header %}

						{% block form-action %}{% url 'account_login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}{% endblock form-action %}
							{% block form-content %}{% if form.non_field_errors %}
							<div class="col-xs-10 col-xs-offset-1">{% for error in form.non_field_errors %}
								<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
								<br />
							</div>{% endif %}
							<div id="local-login">{% with form.login.errors as errors %}{% if errors %}{% for error in errors %}
								<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
								<div id="form-login" class="input-group{% if errors %} with-errors{% endif %}">
									<span class="input-group-addon"><strong>@</strong></span>
									{% if errors %}{{ form.login | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.login | add_class:'form-control' }}{% endif %}{% endwith %}
								</div>{% with form.password.errors as errors %}{% if errors %}{% for error in errors %}
								<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
								<div id="form-password" class="input-group{% if errors %} with-errors{% endif %}">
									<span class="input-group-addon"><strong>∗</strong></span>
									{% if errors %}{{ form.password | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.password | add_class:'form-control' }}{% endif %}{% endwith %}
								</div>
								<label id="form-remember" for="{{ form.remember.auto_id }}">
									{{ form.remember.label }}:
									<div class="chk" data-off="{% trans 'NO' %}" data-on="{% trans 'YES' %}">
										{{ form.remember }}
										<label for="{{ form.remember.auto_id }}"></label>
									</div>
								</label>
								<div id="action"><button class="btn" id="form-login" role="button">{% trans 'Log in' %}</button></div>
								<em id="recover-passwd"><span class="label label-default">{% trans 'Forgot your password?' %}</span> <a href="{% url 'account_reset_password' %}">{% trans 'Recover your password here.' %}</a></em>
							</div>
							{% if socialaccount.providers %}<hr />
							<div id="social-auth">
								{% trans 'Alternatively, sign up with:' %}{# TODO: Add signup options for social providers: get API keys! #}
								{% for provider in socialaccount.providers %}{% if provider.id == 'openid' %}{% for brand in provider.get_brands %}
								<a class="btn btn-success {{ brand.id }}" title="{{ brand.name }}" href="{% provider_login_url provider.id openid=brand.openid_url process='login' %}">{% trans 'Sign up with ' %}{{ brand.name }}</a>{% endfor %}{% endif %}
								<a title="{{ provider.name }}" class="btn btn-success {{ provider.id }}" href="{% provider_login_url provider.id process='login' %}">{% trans 'Sign up with ' %}{{ provider.name }}</a>{% endfor %}
								{% blocktrans %}By clicking on any provider option, you agree on this site's <a href="">terms of usage</a> and <a href="">privacy policy</a>.{% endblocktrans %}
							</div>{% endif %}{% endblock form-content %}
