{% extends 'base/base_form.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans 'Recover password' %} | Bookworm{% endblock title %}
{% block signup-link %}{% endblock signup-link %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'account/css/password_reset.css' %}" />{% endblock css %}

						{% block form-header %}
						<h2 id="header">{% trans 'Recover password' %}</h2>
						<hr />{% endblock form-header %}

						{% block form-action %}{% endblock form-action %}
							{% block form-content %}
							{% trans 'Lost your password? Please provide us with the email address you used to create your account to begin recovery.' %}<br />{% if form.non_field_errors %}
							<div class="col-xs-10 col-xs-offset-1">{% for error in form.non_field_errors %}
								<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
								<br />
							</div>{% endif %}
							<div id="password-reset">{% with form.email.errors as errors %}{% if errors %}{% for error in errors %}
								<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
								<div id="form-email" class="input-group{% if errors %} with-errors{% endif %}">
									<span class="input-group-addon"><strong>@</strong></span>
									{% if errors %}{{ form.email | add_class:'form-control has-feedback has-error' | attr:'placeholder:Email address' }}{% else %}{{ form.email | add_class:'form-control' | attr:'placeholder:Email address' }}{% endif %}{% endwith %}
								</div>
								<div id="action"><button class="btn" id="form-reset" role="button">{% trans 'Recover password' %}</button></div>
							</div>{% endblock form-content %}
