{% extends 'base/base_form.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans 'Recover password' %} | Bookworm{% endblock title %}
{% block signup-link %}{% endblock signup-link %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'account/css/password_reset_from_key.css' %}" />{% endblock css %}

						{% block form-header %}
						<h2 id="header">{% if token_fail %}{% trans 'Invalid token' %}{% else %}{% trans 'Recover password' %}{% endif %}</h2>
						<hr />{% endblock form-header %}

						{% block form-action %}{% endblock form-action %}
							{% block form-content %}{% if token_fail %}
							{% url 'account_reset_password' as passwd_reset_url %}{% blocktrans %}The provided token seems to be either invalid or has already expired. Please <a href="{{ passwd_reset_url }}">request a new one</a>.{% endblocktrans %}{% else %}
							{% blocktrans %}Plase provide a new password for your account. For your safety, we recommend creating a password with a mixture of uppercase and lowercase letters.{% endblocktrans %}<br />{% if form.non_field_errors %}
							<div class="col-xs-10 col-xs-offset-1">{% for error in form.non_field_errors %}
								<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
								<br />
							</div>{% endif %}
							<div id="password-reset">{% with form.password1.errors as errors %}{% if errors %}{% for error in errors %}
								<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
								<div id="form-password" class="input-group{% if errors %} with-errors{% endif %}">
									<span class="input-group-addon"><strong>∗</strong></span>
									{% if errors %}{{ form.password1 | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.password1 | add_class:'form-control' }}{% endif %}{% endwith %}
								</div>{% with form.password2.errors as errors %}{% if errors %}{% for error in errors %}
								<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
								<div id="form-password" class="input-group{% if errors %} with-errors{% endif %}">
									<span class="input-group-addon"><strong>∗</strong></span>
									{% if errors %}{{ form.password2 | add_class:'form-control has-feedback has-error' | attr:'placeholder:Confirm password' }}{% else %}{{ form.password2 | add_class:'form-control' | attr:'placeholder:Confirm password' }}{% endif %}{% endwith %}
								</div>
								<div id="action"><button class="btn" id="form-reset" role="button">{% trans 'Recover password' %}</button></div>
							</div>{% endif %}{% endblock form-content %}
