{% extends 'base/base_frame.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans 'Recover password' %} | Bookworm{% endblock title %}
{% block signup-link %}{% endblock signup-link %}
{% block next %}{% endblock next %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'account/css/password_reset_from_key_done.css' %}" />{% endblock css %}

						{% block frame-header %}
						<h1 id="register-icon"><span class="glyphicon glyphicon-ok"></span></h1>
						<h2>{% trans 'Recovering succeeded' %}</h2>
						<hr />{% endblock frame-header %}
						{% block frame-content %}
						{% url 'account_login' as login %}{% blocktrans %}Your password has been set successfully. Now you can try to <strong><a href="{{ login }}">log in</a></strong> once more.{% endblocktrans %}{% endblock frame-content %}

{% comment %}
{% extends 'base/base.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans_templates 'Reset password' %} | Bookworm{% endblock title %}

		{% block content %}
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>{% trans_templates 'Reset password' %}</h3>
						</div>
						<div class="panel-body">
							<div class="col-xs-10 col-xs-offset-1">
								{% url 'account_login' as login %}{% blocktrans %}Your password has been set successfully. Now you can <a href="{{ login }}">log in</a>.{% endblocktrans %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>{% endblock content %}{% endblock %}{% endcomment %}
