{% extends 'base/base_frame.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans 'Recover password' %} | Bookworm{% endblock title %}
{% block signup-link %}{% endblock signup-link %}
{% block next %}{% endblock next %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'account/css/password_reset_done.css' %}" />{% endblock css %}

						{% block frame-header %}
						<h1 id="register-icon"><span class="glyphicon glyphicon-asterisk"></span></h1>
						<h2>{% trans 'Recovering password&hellip;' %}</h2>
						<hr />{% endblock frame-header %}
						{% block frame-content %}
						{% trans 'We have sent you an email with further instructions. Please contact us if you do not receive it in a few minutes.' %}{% endblock frame-content %}
