{% extends 'base/base_form.html' %}
{% load i18n widget_tweaks static socialaccount %}
{% block title %}{% trans 'Sign up' %} | Bookworm{% endblock title %}
{% block signup-link %}{% endblock signup-link %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'account/css/signup.css' %}" />{% endblock css %}

		{% block next %}{% endblock next %}

						{% block form-header %}
						<h2 id="header">{% trans 'Sign up for an account' %}</h2>
						<hr />{% endblock form-header %}

						{% block form-action %}{% url 'account_signup' %}{% endblock form-action %}
							{% block form-content %}{% if form.non_field_errors %}
							<div class="col-xs-10 col-xs-offset-1">{% for error in form.non_field_errors %}
								<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
								<br />
							</div>{% endif %}
							<div id="local-signup">{% with form.email.errors as errors %}{% if errors %}{% for error in errors %}
								<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
								<div id="form-email" class="input-group{% if errors %} with-errors{% endif %}">
									<span class="input-group-addon"><strong>@</strong></span>
									{% if errors %}{{ form.email | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.email | add_class:'form-control' }}{% endif %}{% endwith %}
								</div>{% with form.password1.errors as errors %}{% if errors %}{% for error in errors %}
								<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
								<div id="form-password" class="input-group{% if errors %} with-errors{% endif %}">
									<span class="input-group-addon"><strong>∗</strong></span>
									{% if errors %}{{ form.password1 | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.password1 | add_class:'form-control' }}{% endif %}{% endwith %}
								</div>
								<br />
								<em>{% blocktrans %}By clicking on the below button, you agree on this site's <a href="">terms of usage</a> and <a href="">privacy policy</a>.{% endblocktrans %}</em>
								<br />
								<div id="action"><button class="btn" id="form-signup" role="button">{% trans 'Sign up' %}</button></div>
							</div>
							{% if socialaccount.providers %}<hr />
							<div id="social-auth">
								{% trans 'Alternatively, sign up with:' %}{# TODO: Add signup options for social providers: get API keys! #}
								{% for provider in socialaccount.providers %}{% if provider.id == 'openid' %}{% for brand in provider.get_brands %}
								<a class="btn btn-success {{ brand.id }}" title="{{ brand.name }}" href="{% provider_login_url provider.id openid=brand.openid_url process='login' %}">{% trans 'Sign up with ' %}{{ brand.name }}</a>{% endfor %}{% endif %}
								<a title="{{ provider.name }}" class="btn btn-success {{ provider.id }}" href="{% provider_login_url provider.id process='login' %}">{% trans 'Sign up with ' %}{{ provider.name }}</a>{% endfor %}
								{% blocktrans %}By clicking on any provider option, you agree on this site's <a href="">terms of usage</a> and <a href="">privacy policy</a>.{% endblocktrans %}
							</div>{% endif %}{% endblock form-content %}
