{% extends 'base/base_frame.html' %}
{% load i18n widget_tweaks static %}
{% block title %}{% trans 'Complete registration' %} | Bookworm{% endblock title %}
{% block signup-link %}{% endblock signup-link %}
{% block next %}{% endblock next %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'account/css/verification_sent.css' %}" />{% endblock css %}

						{% block frame-header %}
						<h1 id="register-icon"><span class="glyphicon glyphicon-envelope"></span></h1>
						<h2>{% trans 'Complete registration' %}</h2>
						<hr />{% endblock frame-header %}
						{% block frame-content %}
						{% blocktrans %}Thank you for registering to our site. An email has been sent to the specified address with further instruction on how to activate your account. Please check your inbox and contact us if the email does not arrive in a few minutes.{% endblocktrans %}{% endblock frame-content %}
