{% extends 'base/base_nav.html' %}
{% load static i18n %}
{% block title %}{% trans 'Book report' %}{% endblock title %}
{% block js %}
    <script src="{% static 'https://www.google.com/jsapi' %}" defer></script>
    <script src="{% static 'bookworm/js/chartkick.js-master/chartkick.js' %}" defer></script>
    <script src="{% static 'bookworm/js/book_reports.js' %}" defer></script>
{% endblock js %}

{% block inner-content %}
    <header>{% trans 'Flagged books' %}</header>
    <table>
        <thead><tr><th>{% trans 'Number of flags' %}</th><th>{% trans 'Title' %}</th><th>{% trans 'Owner' %}</th><th>{% trans 'View details' %}</th></tr></thead>
        {% for copy in flagged_copies %}
        <tr><td>{{ copy.flags }}</td><td>{{ copy.book.title }}</td><td><a href="{% url 'profile-view' copy.owner.uid_str %}">{{ copy.owner.username }}</a></td><td><a href="{% url 'details' copy.book.uid_str copy.uid_str %}">{% trans 'book details' %}</a></td></tr>
        {% endfor %}
    </table>

    <header>{% trans 'Active VS inactive book copies' %}</header>
    <table>
        <thead><tr><th>{% trans 'Active' %}</th><th>{% trans 'Inactive' %}</th></tr></thead>
        <tr><td><p id="n_act">{{ n_active }}</p></td><td><p id="n_inact">{{ n_inactive }}</p></td></tr>
    </table>
    <div id="act_inact_chart" style="height:200px;width:400px"></div>

    <header>{% trans 'Physical VS Digital book copies' %}</header>
    <table>
        <thead><tr><th>{% trans 'Physical copies' %}</th><th>{% trans 'Digital copies' %}</th></tr></thead>
        <tr><td><p id="n_ph">{{ n_ph }}</p></td><td><p id="n_di">{{ n_di }}</p></td></tr>
    </table>
    <div id="ph_di_chart" style="height:200px;width:400px"></div>

    <header>{% trans 'Physical and digital copies per book' %}</header>
    <p>Total books: <span id="n_books">{{ n_books }}</span></p>
    <table>
        <thead><tr><th>{% trans 'Title' %}</th><th>{% trans 'Physical copies' %}</th><th>{% trans 'Digital copies' %}</th><th>{% trans 'Total copies' %}</th></tr></thead>
    {% for e in copy_type_perc %}
        <tr><td id="book_{{ e.0 }}">{{ e.1 }}</td><td id="ph_cpy_{{ e.0 }}">{{ e.2 }}</td><td id="di_cpy_{{ e.0 }}">{{ e.3 }}</td><td id="tt_cpy_{{ e.0 }}">{{ e.4 }}</td></tr>
    {% endfor %}
    </table>
    <p>Percentage of physical books:</p>
    <div id="book_cpy_chart" style="height:200px;width:400px"></div>

    <header>{% trans 'For trade and for sale physical book copies' %}</header>
    <table>
        <thead><tr><th>{% trans 'For trade' %}</th><th>{% trans 'For sale' %}</th></tr></thead>
        <tr><td><p id="n_tr">{{ n_trade }}</p></td><td><p id="n_sa">{{ n_sale }}</p></td></tr>
    </table>
    <div id="tr_sa_chart" style="height:200px;width:400px"></div>

    <header>{% trans 'Genres' %}</header>
    <p>Total genres: <span id="n_genres">{{ n_genres }}</span></p>
    <table id="genres_table">
        <thead><tr><th>{% trans 'Genre' %}</th><th>{% trans 'Books' %}</th><th>{% trans 'Tags' %}</th></tr></thead>
    {% for tag in tag_list %}
        <tr><td id="genre_{{ tag.i }}">{{ tag.genre.name }}</td><td id="genre_books_{{ tag.i }}">{{ tag.num_tag_books }}</td><td id="genre_tags_{{ tag.i }}">{{ tag.num }}</td></tr>
    {% endfor %}
    </table>
    <p>Books per genre:</p>
    <div id="genres_chart" style="height:200px;width:400px"></div>
    <p>Tags per genre:</p>
    <div id="tags_chart" style="height:200px;width:400px"></div>

{% endblock inner-content %}