@import 'base_form'

$avatar-display-size: 152px

.input-group
	margin-bottom: 15px
	height: 42px

	&.with-errors
		span.input-group-addon
			border-bottom-color: $warn-yellow
			color: $warn-yellow

		input, select
			border-bottom-color: $warn-yellow

	span.input-group-addon
		font-size: 14pt
		border: none
		border-radius: 0
		border-bottom: 2px solid $complement-blue
		background: transparent none

	input, select
		height: 42px
		font-size: 14pt
		border-radius: 0
		border: none
		outline: none
		box-shadow: none
		border-bottom: 2px solid lighten($black, 60%)
		background: transparent none
		-webkit-transition: border-bottom-color 1s ease
		-moz-transition: border-bottom-color 1s ease
		-ms-transition: border-bottom-color 1s ease
		-o-transition: border-bottom-color 1s ease
		transition: border-bottom-color 1s ease

		&:focus
			border-bottom-color: $complement-blue

#action
	margin-top: 15px
	text-align: center

	button#form-update
		border-radius: 2px
		width: 200px
		height: 42px
		color: $white
		font-weight: bold
		font-size: 14pt
		background-color: $green
		outline: none
		box-shadow: 0px 4px 0px darken($green, 10%)

		&:hover
			background-color: darken($green, 10%)
			position: relative
			box-shadow: none
			top: 4px

		&:active
			background-color: lighten($green, 10%)
