@import 'base_nav'

$avatar-display-size: 152px

#search-bar
	position: relative
	left: 0
	right: 0
	margin: -30px -15px 15px
	width: calc(100% + 30px)
	padding-top: 40px
	padding-bottom: 30px
	z-index: 2
	box-shadow: 0 2px 10px transparentize($black, 0.75)

#profile-mngt
	background: $white
	padding: 0 15px 30px
	box-shadow: 0 1px 2px transparentize($black, 0.6)
	z-index: 1

	aside.navbar
		background-color: darken($lite-green, 15%)
		color: $white
		box-shadow: 0px 1px 2px transparentize($black, 0.8)
		border-radius: 0px
		position: relative
		top: -15px
		left: 0
		right: 0
		margin: 0 -15px 15px

		h2
			display: inline-block

		.navbar-brand, .navbar-brand span
			font-family: $title-font

		a#account-config, a#account-perms
			border-radius: 2px
			height: 32px
			color: $white
			font-weight: bold
			font-size: 10pt
			background-color: transparent
			outline: none
			vertical-align: top

			span
				font-size: 12pt
				color: $white
				margin-right: 5px

			&:hover, &:hover span
				color: darken($complement-blue, 20%)
				-webkit-transition: color 0.5s ease
				-moz-transition: color 0.5s ease
				-ms-transition: color 0.5s ease
				-o-transition: color 0.5s ease
				transition: color 0.5s ease

	#avatar
		border-radius: 2px
		max-width: $avatar-display-size
		max-height: $avatar-display-size

		&:hover
			opacity: 0.6
			-webkit-transition: opacity 0.75s ease
			-moz-transition: opacity 0.75s ease
			-ms-transition: opacity 0.75s ease
			-o-transition: opacity 0.75s ease
			transition: opacity 0.75s ease

#profile-books
	box-shadow: 0 1px 1px transparentize($black, 0.6)
	min-height: 240px
	+flexbox
	+flex-flow(column nowrap)

	aside.navbar
		background-color: darken($lite-green, 15%)
		color: $white
		box-shadow: 0px 1px 2px transparentize($black, 0.8)
		border-radius: 0px
		position: relative
		left: 0
		right: 0
		margin: 0 -15px 15px

		.navbar-brand, .navbar-brand span
			font-family: $title-font

	article
		text-align: center
		+flex-grow(1)

		span.glyphicon.glyphicon-bookmark
			margin: 15px 0
			font-size: 46pt
			color: lighten($black, 10%)

#user-error
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	text-align: center
	+flexbox
	+flex-flow(column nowrap)
	+justify-content(center)
	+align-items(center)

	span.glyphicon
		font-size: 64pt

	h2
		margin-bottom: 30px

	a#go-back
		display: block
		margin: 30px auto 0
		border-radius: 2px
		width: 200px
		height: 42px
		color: $white
		font-weight: bold
		font-size: 14pt
		background-color: $green
		outline: none
		box-shadow: 0px 4px 0px darken($green, 10%)

		&:hover
			background-color: darken($green, 10%)
			position: relative
			box-shadow: none
			top: 4px

		&:active
			background-color: lighten($green, 10%)

@import book
