{% extends 'base/base_nav.html' %}
{% load static i18n widget_tweaks %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'base/css/forms.css' %}" />{% endblock css %}
        {% block js %}
            <script src="{% static 'trans/js/trade_offer.js' %}" defer></script>
        {% endblock js %}

				{% block inner-content %}
				<div class="col-xs-12">
					<div id="form-background" class="panel col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">{% block form-header %}{% endblock form-header %}
						{% with method|default:'post' as form_method %}<form action="{% block form-action %}{{ url }}{% endblock form-action %}" method="{{ form_method }}"{% block form-meta %}{% endblock form-meta %}>{% if form_method == 'post' %}
							{% csrf_token %}{% endif %}{% endwith %}
                        {% block form-content %}

                            <h3>What book would you trade?</h3>
                            <hr />
                            <h4>Choose one of your books to trade for {{ copy.owner.username }}'s "{{ copy.book.title }}"...</h4>
                            <ul class="list-group">
                            {% for copy in book_copies %}
                                <li class="list-group-item">Book title: {{ copy.book.title }} <button type="button" class="btn btn-default pull-right" data-id="{{ copy.uid_str }}">Offer</button></li>

                            {% empty %}
                                <li class="list-group-item">You have no books to offer!</li>
                            {% endfor %}
                            </ul>

                        {% endblock form-content %}
						</form>
					</div>
				</div>

                <template id="trans-form">
                    <form method="post" action="{% url 'execute_trade' copy.uid_str %}">
                        {% csrf_token %}
                        <input name="offer-id" type="hidden" id="offer" />
                        <button type="submit" id="submit-me"></button>
                    </form>
                </template>

                {% endblock inner-content %}