
body {

	background-color: #c7e5d1;

}

.ui.menu {

	background-color: #a4d5b4;

}

.ui.menu > a.item {

	background-color: #a4d5b4;

	color: #3f975d;

	font-weight: bold;

	font-family: sans-serif;

}

.booklist-item {

	margin-bottom: 1em;

}

.bw-green-header {

	background-color: #3f975d;

	color: #7fc196;

}

.bw-green-content {

	background-color: #7fc196;

}

.bw-green-footer {

	background-color: #a4d5b4;

	color: #3f975d;

}
