@import 'base_nav'

#content
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	padding-top: 70px

	.row-fluid
		width: 100%

#frame-background

	#register-icon
		font-size: 72pt
		text-align: center

	h2
		text-align: center

	#email-address
		margin-top: 15px

		li
			padding-left: 30px

			span.glyphicon
				margin-right: 15px

	#action
		text-align: center

		button#form-confirm
			margin-top: 30px
			border-radius: 2px
			width: 200px
			height: 42px
			color: $white
			font-weight: bold
			font-size: 14pt
			background-color: $green
			outline: none
			box-shadow: 0px 4px 0px darken($green, 10%)

			&:hover
				background-color: darken($green, 10%)
				position: relative
				box-shadow: none
				top: 4px

			&:active
				background-color: lighten($green, 10%)
