{% load i18n static %}
<script src="{% static 'bookworm/js/search.js' %}" defer></script>
<aside id="search-bar" class="col-xs-12">
					<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
						<form method="post" action="{% url 'search' %}" onsubmit="return false">
                           {% csrf_token %}
							<div class="input-group">
								<div id="search" class="input-search input-group-btn" role="search">{# TODO: When standardizing, add a SearchForm here. #}
									<input id="id_search" class="form-control" name="search" placeholder="{% trans 'Search&hellip;' %}" type="search" />
									<button id="all-search" class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
									<button id="filter-search" class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li id="search_all"><a href="#">{% trans 'All' %} <span class="glyphicon glyphicon-asterisk pull-right"></span></a></li>
										<li id="search_title"><a href="#">{% trans 'Title' %} <span class="glyphicon glyphicon-book pull-right"></span></a></li>
										<li id="search_authors"><a href="#">{% trans 'Authors' %} <span class="glyphicon glyphicon-user pull-right"></span></a></li>
									    <li id="search_genres"><a href="#">{% trans 'Genres' %} <span class="glyphicon glyphicon-tags pull-right"></span></a></li>
                                        <li id="search_isbn"><a href="#">{% trans 'ISBN' %} <span class="glyphicon glyphicon-barcode pull-right"></span></a></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</aside>
<div id="search_results"></div>
