{% load static i18n widget_tweaks %}
<section id="search-results" class="panel-group">{% if has_results %}{% if books %}
	<article id="search-books" class="panel">
		<div id="search-books-tab" class="panel-heading" role="tab">
			<a data-parent="#search-results" data-toggle="collapse" href="#search-books-results">
				<h3><span class="glyphicon glyphicon-book"></span> {% trans 'Books' %}</h3>
			</a>
		</div>
		<div id="search-books-results" class="panel-collapse collapse in">
			<ul class="search-result-list">{% for book in books %}
				<li class="search-list-item search-item-book">
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-8"><a href="{% url 'book_info' book.book.uid_str %}">{{ book.book.title }}</a></div>
						<div class="col-xs-2">{% blocktrans with book.physical as count and book.physical|pluralize:'copy,copies' as copy %}{{ count }} physical {{ copy }}{% endblocktrans %}</div>
						<div class="col-xs-2">{% blocktrans with book.digital as count and book.digital|pluralize:'copy,copies' as copy %}{{ count }} digital {{ copy }}{% endblocktrans %}</div>
					</div>
				</li>{% endfor %}
			</ul>
		</div>
	</article>{% endif %}{% if authors %}
	<article id="search-authors" class="panel">
		<div id="search-authors-tab" class="panel-heading" role="tab">
			<a data-parent="#search-results" data-toggle="collapse" href="#search-authors-results">
				<h3><span class="glyphicon glyphicon-user"></span> {% trans 'Authors' %}</h3>
			</a>
		</div>
		<div id="search-authors-results" class="panel-collapse collapse in">
			<ul class="search-result-list">{% for author in authors %}
				<li class="search-list-item search-item-author">
					<a href="{% url 'author_info' author.author.uid_str %}">{% if author.author.family_name %}{% blocktrans with author.author.family_name as family_name and author.author.first_name as first_name %}{{ family_name }}, {{ first_name }}{% endblocktrans %}{% else %}{{ author.author.first_name }}{% endif %} {% blocktrans with author.count as count and author.count|pluralize:'book,books' as books %}({{ count }} {{ books }}){% endblocktrans %}</a>
				</li>{% endfor %}
			</ul>
		</div>
	</article>{% endif %}{% if copies %}
	<article id="search-copies" class="panel">
		<div id="search-copies-tab" class="panel-heading" role="tab">
			<a data-parent="#search-results" data-toggle="collapse" href="#search-copies-results">
				<h3><span class="glyphicon glyphicon-bookmark"></span> {% trans 'Book copies' %}</h3>
			</a>
		</div>
		<div id="search-copies-results" class="panel-collapse collapse in">
			<ul class="search-result-list">{% for copy in copies %}
				<li class="search-list-item search-item-copy">
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-2"><img src="{% if copy.photo %}{{ copy.photo.url }}{% endif %}" alt="{{ copy }}" width="54" height="82" /></div>
						<div class="col-xs-8"><a href="{% url 'details' copy.book.uid_str copy.uid_str %}">{% blocktrans with copy.book.title as title and copy.owner.get_short_name as username %}{{ title }}, by {{ username }}{% endblocktrans %}</a></div>
						<div class="col-xs-2">
							<div class="input-group">{% if copy.pdf %}
								<div class="input-group-btn">
									<a class="btn btn-primary" href="{% url 'read' copy.book.uid_str copy.uid_str %}"><span class="glyphicon glyphicon-globe"></span></a>{% else %}{% if copy.for_trade %}
								</div>
								<div class="input-group-btn">
									<a class="btn btn-primary" href="{% url 'trade' copy.book.uid_str %}"><span class="glyphicon glyphicon-hand-right"></span></a>{% endif %}{% if copy.for_sale %}
								</div>
								<div class="input-group-btn">
									<a class="btn btn-primary" href=""><span class="glyphicon glyphicon-usd"></span></a>{% endif %}{% if copy.for_giveaway %}
								</div>
								<div class="input-group-btn">
									<a class="btn btn-primary" href=""><span class="glyphicon glyphicon-heart"></span></a>{% endif %}{% endif %}
								</div>
							</div>
						</div>
					</div>
				</li>{% endfor %}
			</ul>
		</div>
	</article>{% endif %}{% if genres %}
	<article id="search-genres" class="panel">
		<div id="search-genres-tab" class="panel-heading" role="tab">
			<a data-parent="#search-results" data-toggle="collapse" href="#search-genres-results">
				<h3><span class="glyphicon glyphicon-tags"></span> {% trans 'Genres' %}</h3>
			</a>
		</div>
		<div id="search-genres-results" class="panel-collapse collapse in">
			<ul class="search-result-list">{% for genre in genres %}
				<li class="search-list-item search-item-genre">
					<a href="{% url 'genre_info' genre.genre.uid_str %}">{{ genre.genre.name }} {% blocktrans with genre.count as count and genre.count|pluralize:'book,books' as books %}({{ count }} {{ books }}){% endblocktrans %}</a>
				</li>{% endfor %}
			</ul>
		</div>
	</article>{% endif %}{% else %}
	<span class="glyphicon glyphicon-search" id="search-icon-large"></span>
	<h4>{% trans 'Sorry, there were no results matching your criteria.' %}</h4>{% endif %}
</section>
