{% extends 'base/base_form.html' %}
{% load static i18n widget_tweaks account %}
{% block title %}{% trans 'Account configuration' %} | Bookworm{% endblock title %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'users/css/config.css' %}" />{% endblock css %}
		{% block js %}
		<script src="{% static 'users/js/config.min.js' %}" defer></script>{% endblock js %}

						{% block form-header %}
						<h2 id="header">{% trans 'Account configuration' %}</h2>
						<hr />{% endblock form-header %}

						{% block form-action %}{% endblock form-action %}
							{% block form-content %}{% if form.non_field_errors %}
							<div class="col-xs-10 col-xs-offset-1">{% for error in form.non_field_errors %}
								<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
								<br />
							</div>{% endif %}
							<div id="account-config">
								<div class="col-xs-12">
									<h4>{% trans 'Account settings' %}</h4>{% with form.username.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-email" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-user"></span></strong></span>
										{% if errors %}{{ form.username | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.username | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}{% with form.password.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-password" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong>∗</strong></span>
										{% if errors %}{{ form.password | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.password | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}{% with form.confirm.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-confirm" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong>∗</strong></span>
										{% if errors %}{{ form.confirm | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.confirm | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>
									<hr />
								</div>
								<div class="col-xs-12">
									<h4>{% trans 'Profile data' %}</h4>{% with form.first_name.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-first_name" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-star"></span></strong></span>
										{% if errors %}{{ form.first_name | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.first_name | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}{% with form.family_name.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-family_name" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-star-empty"></span></strong></span>
										{% if errors %}{{ form.family_name | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.family_name | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>{% comment %}

									{% endcomment %}{% with form.gender.errors as errors %}{% if errors %}{% for error in errors %}
									<div class="alert alert-warning" role="alert">{{ error }}</div>{% endfor %}{% endif %}
									<div id="form-gender" class="input-group{% if errors %} with-errors{% endif %}">
										<span class="input-group-addon"><strong><span class="glyphicon glyphicon-heart-empty"></span></strong></span>
										{% if errors %}{{ form.gender | add_class:'form-control has-feedback has-error' }}{% else %}{{ form.gender | add_class:'form-control' }}{% endif %}{% endwith %}
									</div>
								</div>
								<div id="action">
									<button id="form-update" class="btn" type="button" role="button">{% trans 'Update' %}</button>
								</div>
							</div>{% endblock form-content %}
