{% extends 'base/base_nav.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% if u %}{% blocktrans with u.get_short_name as name %}{{ name }}'s profile{% endblocktrans %}{% else %}{% trans 'Unknown user' %}{% endif %} | Bookworm{% endblock title %}

		{% block css %}
		<link rel="stylesheet" href="{% static 'users/css/profile.css' %}" />{% endblock css %}

				{% block inner-content %}{% if u %}
				{% include 'search_templates/search_bar.html' %}
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="profile-mngt">
					<aside class="navbar">
						<div class="container-fluid">
							<div class="row-fluid">
								<div class="col-xs-12">
									<div class="navbar-brand">{% blocktrans with u.username as username %}<span id="username">{{ username }}</span>'s profile{% endblocktrans %}</div>{% if user.is_staff %}
									<a id="account-perms" class="btn navbar-btn navbar-right" href="" role="button"><span class="glyphicon glyphicon-flag"></span> {% trans 'Edit permissions' %}</a>{% endif %}
								</div>
							</div>
						</div>
					</aside>
					<div class="col-xs-3"><img id="avatar" src="{{ u.profile.avatar.url }}" alt="{% blocktrans with u.get_short_name as name %}{{ name }}'s avatar{% endblocktrans %}" /></div>
					<div class="col-xs-9">
						<ul>
							<li id="first-name-field" class="editable-field" title="{% trans 'Edit this field by clicking' %}"><strong>{% trans 'First name:' %}</strong> <span>{% if u.profile.first_name %}{{ u.profile.first_name }}{% else %}{% trans 'Undefined' %}{% endif %}</span></li>
							<li id="family-name-field" class="editable-field" title="{% trans 'Edit this field by clicking' %}"><strong>{% trans 'Family name:' %}</strong> <span>{% if u.profile.family_name %}{{ u.profile.family_name }}{% else %}{% trans 'Undefined' %}{% endif %}</span></li>
							<li id="email-field" class="editable-field" title="{% trans 'Edit this field by clicking' %}"><strong>{% trans 'Email address:' %}</strong> <span>{{ u.email }}</span></li>
							<li id="gender-field" class="editable-field" title="{% trans 'Edit this field by clicking' %}"><strong>{% trans 'Gender:' %}</strong> <span>{% if u.profile.gender == 0 %}{% trans 'Not set' %}{% elif u.profile.gender == 1 %}{% trans 'Male' %}{% else %}{% trans 'Female' %}{% endif %}</span></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="profile-books">
					<aside class="navbar">
						<div class="container-fluid">
							<div class="row-fluid">
								<div class="col-xs-12">
									<div class="navbar-brand">{% blocktrans with u.username as username %}Books by {{ username }}{% endblocktrans %}</div>
								</div>
							</div>
						</div>
					</aside>
					<article>{% if books %}
						<ul class="book-list">{% for book in books %}
							<li>
								<div class="book">
									<a href="{% url 'details' book.book.uid_str book.uid_str %}">
										<img class="book-img" id="book-img-{{ book.uid_str }}" src="{% if book.photo %}{{ book.photo.url }}{% endif %}" alt="{% blocktrans with book.uid_str as uid %}Book copy: {{ uid }}{% endblocktrans %}" />
									</a>
									<div class="book-info">
										<h6>{{ book.book.title }}</h6>
									</div>
								</div>
							</li>{% endfor %}
						</ul>
						<br/>{% else %}
						<span class="glyphicon glyphicon-bookmark"></span><br />{% if u == user %}
						{% url 'add-book' as add_books %}{% blocktrans %}You appear to have no registered books. How about <a href="{{ add_books }}">adding a new one</a>?{% endblocktrans %}{% else %}
						{% blocktrans with u.username as name %}{{ name }} has not added any books up to now.{% endblocktrans %}{% endif %}{% endif %}
					</article>
				</div>{% else %}
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="user-error">
					<article>
						<span class="glyphicon glyphicon-user"></span>
						<h2>{% trans "Something's not right here&hellip;" %}</h2>
						{% blocktrans %}The user you are trying to reach is no longer active or should have never existed.{% endblocktrans %}
						<a id="go-back" class="btn" href="javascript:history.back();">{% trans 'Take me back' %}</a>
					</article>
				</div>{% endif %}{% endblock inner-content %}
